.nav2{
    /*background-color: rgba(0, 0, 0, 0.808) ;*/
    height :30px;
    position: fixed;
    width :100%;
    z-index: 5;
}

.nav2 .list{
    background-color: rgba(0, 0, 0, 0.876) ;
}

.nav2-item{
    /*background-color: rgba(19, 19, 19, 0.746) ;*/
    padding-left :20px;
    padding-top :5px;
}

.nav2-item a{
    color :white;
    font-weight: bold ;
    font-family: cursive ;
    font-size: 20px ;
    transition: 0.5s ;
}
.nav2-item a:hover{
    text-decoration: none ;
    color: rgb(172, 172, 172) ;
    transition: 0.5s ;
}

.nav2-top{
    background-color: rgba(17, 17, 17, 0.52) ;
    height :40px;
}

.nav2-toggle{
    background-image: url("https://image.flaticon.com/icons/svg/56/56763.svg") ;
    background-size: cover ;
    position: fixed ;
    top: 2px ;
    right: 10px ;
    z-index: 5;
    height :25px;
    width :25px;
}

.top-logo{
    width :100vw ;
    height :30px;
    position: fixed;
    top :0;
    left :0;
    background-image: url("http://www.planetfoodcornichesousse.com/templates/ayo-technology/images/logo1.png") ;
    background-size: 40vw ;
    background-position: center ;
    background-repeat: no-repeat ;
}

@media only screen and (min-width: 600px){
    .nav2-item a{
        /*background-color: red;*/
    }

    .nav2 .list{
        display :flex;
        width :100vw;
    }

    .nav2-toggle{
        display :none;
    }

    .top-logo{
        display: none ;
    }
}   
