.maps{
    display: flex ;
    flex-wrap: inherit;
    justify-content: center ; /* that's what makes the maps in the center  */
}

.map{
    width :auto;
    /*background-color: red ; */
    margin-left :30px;
    margin-right :30px;
}

.map-title{
    font-size: 40px ;
    font-family:cursive ;
    font-weight: bolder ;
    color :white;
    text-shadow: 1px 1px 5px black ;
}

.section4{
    padding-top :80px ;
}