.section1{
    height :100vh;
    width :100%;
    background-image: url("http://www.wallpapermaiden.com/image/2018/10/16/hamburger-flames-fast-food-25757-resized.jpeg") ;
    background-size: cover ;
    background-attachment: fixed ;
}


.title{
    font-family: sans-serif ;
    font-weight :bolder;
    font-size: 10vh ;
    color : rgb(245, 173, 17);
    text-shadow: 1px 1px 5px rgb(65, 61, 61) ;
    padding-top : 50px ;
}

.slide{
    font-size: 50px ;
}

.logo{
    position: relative;
    top :60px;
    height :18vh;
    width :500px;
    background-image:url("http://www.planetfoodcornichesousse.com/templates/ayo-technology/images/logo1.png") ;
    background-size: 500px ;
    background-repeat: no-repeat ;
}