.section1{
    height :100vh;
    width :100%;
    background-image: url("http://www.hdnicewallpapers.com/Walls/Big/Food%20and%20Drinks/Fast_Food_Dishes_for_Takeaway_in_Bar_4K_Wallpapers.jpg") ;
    background-size: cover ;
    background-attachment: fixed ;
}


.title{
    font-family: sans-serif ;
    font-weight :bolder;
    font-size: 20vh ;
    color : rgb(245, 173, 17);
    text-shadow: 1px 1px 5px rgb(65, 61, 61) ;
    padding-top : 50px ;
}

.slide{
    font-size: 100px;
    padding-top : 20vh ;
    font-family:cursive ;
    font-weight: bolder ;
    color :white;
    text-shadow: 1px 1px 5px black ;

}

.logo{
    position: relative;
    top :80px;
    height :18vh;
    width :80vh;
    background-image:url("http://www.planetfoodcornichesousse.com/templates/ayo-technology/images/logo1.png") ;
    background-size: contain ;
    background-repeat: no-repeat ;
}

@media only screen and (max-width : 600px){
    .logo{
        width : 50vh ;
    }
}


.logo2{
    position: relative;
    top :5px;
    height :9vh;
    width :200px;
    background-image:url("http://www.planetfoodcornichesousse.com/templates/ayo-technology/images/logo1.png") ;
    background-size: contain ;
    background-repeat: no-repeat ;
    margin :0;
}