.staff{
    /*background-color :red;*/
    height :50vh;
    width :20vw;
    margin-right :40px;
    margin-right :40px;
}

.staff-title{
    font-size: 40px ;
    font-family:cursive ;
    font-weight: bolder ;
    color :white;
    text-shadow: 1px 1px 5px black ;
}

.staff-section{
    margin-top :40px;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ; /* center flex baby*/
    margin-bottom: 100px ;
}

.section5{
    padding-top :50px;
    min-height: 100vh ;
}

.staff-pic img{
    height :250px;
    width :200px;
    border-radius: 100px ;
    filter: blur(1px) ;
    box-shadow :1px 1px 5px black;
}

.staff-pic img:hover{
    filter: blur(0) ;
    transform: scale(1.1) ;
    transition: 1s ;
    cursor: pointer;
}


.staff-name h3{
    font-size: 30px ;
    font-family:cursive ;
    font-weight: bolder ;
    color :white;
    text-shadow: 1px 1px 5px black ;
}

.staff-job h4{
    font-size: 25px ;
    font-family:cursive ;
    color :white;
    font-weight: bolder ;
    text-shadow: 1px 1px 5px black ;
}