.delivery-title{
    font-size: 40px ;
    font-family:cursive ;
    font-weight: bolder ;
    color :white;
    text-shadow: 1px 1px 5px black ;
    margin-bottom: 25px ;
}

.section8{
    background-image: url("https://fullcart.org/images/family-vid.jpg") ;
    background-size: cover ;
    background-attachment: fixed ;
    padding-top :80px;
    min-height: 50vh ;
    padding-bottom: 50px ;
}

.delivery-general{
    width :80vw;
    height :30vh;
    margin-left : auto ;
    margin-right : auto ;
    display: flex ;
    box-shadow :1px 1px 5px black ;
}

.delivery-general .data{
    height :30vh;
    flex :4;
    font-weight: bold ;
    font-family: cursive ;
    font-size: 25px ;
    padding-left :20px;
    padding-top :5vh;
    background-color: black ;
    opacity :0.6;
    color :white;
}

.delivery-general .pic{
    flex :1;
    height :30vh;
}

.delivery-main{
    margin-left :auto;
    margin-right :auto;
    display :flex;
    justify-content: center ;
    flex-wrap: wrap ;
    width: 80vw ;
}

.delivery{
    width :15vw;
    background-color :rgba(255, 255, 255, 0.651);
    box-shadow: 1px 1px 5px rgb(0, 0, 0) ;
    height :30vh;
    margin-bottom: 30px ;
    margin-left :10px;
    margin-right :10px;
    transition: 0.5s ease-in;
}

.delivery:hover{
    cursor: pointer;
    transform: scale(1.1) ;
    transition: 0.5s ease-in;
}

.delivery .location{
    height :15vh;
    width :100%;
    font-family: cursive ;
    font-weight: bolder ;
    font-size: 30px ;
    padding-left :10%;
    color :white;
    display: block ;
}

.day-mode{
    font-size :20px;
}

.delivery .price , .time{
    padding-left :20px;
    font-family: cursive ;
    font-size: 20 ;
    font-weight: bold ;
}

.delivery .price{
    font-size: 25px ;
}